.move-clients{
	margin-top : 30%;
}

#add-buttons-clusters{
	margin-top : 15%;
}

#selected-clients-body, #view-clients-body{
	border: 1px solid #ddd;
	height:275px;
	line-height:3em;
	overflow:auto;
	padding:5px;
}