.btn.raised {
    box-shadow: 0 3px 0 0 grey;
    margin-right: 1%;
}

.row{
	margin : 2%;
}

#structure-body{
	border: 1px solid #ddd;
	height:200px;
	line-height:3em;
	overflow:auto;
	padding:5px;
}

a:hover{
	cursor:pointer;
}

